<%- include('partials/header') -%>


<table class="table" id="myTable">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Designation</th>
            <th scope="col">Salary</th>
            <th scope="col">Operations</th>
        </tr>
    </thead>
    <tbody>
        <% employees.forEach((employee) => { %>
        <tr>
            <th scope="row"><%= employee.name %></th>
            <td><%= employee.designation %></td>
            <td>$<%= employee.salary %></td>
            <td>
                <button class="btn btn-primary">Edit</button>
                <button class="btn btn-danger">Delete</button>
            </td>
        </tr>

        <% }) %>

        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Designation</th>
                <th scope="col">Salary</th>
                <th scope="col">Operations</th>
            </tr>
        </thead>
    </tbody>
</table>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });

</script>


<%- include('partials/footer') -%>